header {
	display: flex;
	position: relative;
	width:100%;
	height: 50px;
	background-color: #0b0d12;
	z-index: 10;
	align-content: center;
}



.menu-header-container {
	max-width: 90%;
	width: 100%;
	margin: auto;
}

.bliz-header {
	font-size: 1em;
	display: flex;
	height: 40px;
	
	a {
		color: #B6B6B8;
		margin-right: 5px;
	}

	path {
		fill: #555;
	}

	
	.bliz-header-left {
		display: flex;
		align-items: center;
		img{
			height: 35px;
			margin-right: 20px;
		}

	}
	
	.bliz-header-right {
		display: flex;
		margin-left: auto;
	}

	.bliz-dropdown svg {
		width: 16px;
	}

}

.nav-option {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}





.ow-header {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	height: 50px;
	background: rgba(0,0,0,0.75);

	.nav-option {
		margin: 12px;
		a {
			font-size: 14px;
			color: #b8b5b4;
			margin-right: 5px;
		}
	}

	.ow-header-left {
		display: flex;
		align-items: center;
	}

	.ow-header-right {
		display: flex;
		align-items: center;
		svg {
			width: 20px;
			height: 20px;
			margin: 12px;
		}
	}
}


.landing {
	padding-top: 110px;
	height: 100vh;
}

.background-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	z-index: -2;
	video {
		position: absolute;
		display: block;

		min-height: 100%;
		min-width: 100%;
		width: auto;
		height: auto;
  	}
	.mobile-header {
		display: none;
	}
}






.product-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.main-logo {
		img {
			max-width: 350px;
		}
		
	}

	h2 {
			color: white;
			text-align: center;
		}
		
	.button-container {
		margin-top: 80px;
		max-width: 250px;
	}

	.btn {
		@include align-center;
		width: 100%;
		margin-top: 20px;
		color: white;
	}

	.btn.btn-warning {
		background-color: #ff9c00;
	}

	.btn.btn-success {
		font-size: 1em;
		background-color: white;
		border: none;
		color: #333;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}


.system-logos {
	display: flex;
	position: absolute;
	bottom: 60px;
	left: 0;
	height: 40px;
	width: 200px;
		div {
			flex-grow: 1;
		}
		img {
			height: 100%;
			margin-left: 30px;
		}
}


.featured-news {
	padding: 90px 0px;
		.inner-container {
			@include align-center;
			flex-direction: column;
			max-width: 1250px;
			margin: auto;
		}
		.news-container {
			display: flex;
			flex-direction:row;
			div	{
				padding: 30px;
			}
		}
		img {
			width: 100%;
		}
		.btn-success {
			padding: 6px 1em;
			color: white;
			background-color: #00a5e2
		}
}

.new-years {
	img {
		width: 100%;
		overflow: hidden;
	}
}

.mobile-nav-bar img, .mobile-nav-bar svg {
	height: 38px;
}

.mobile-nav-bar svg {
	fill: orange;
}

.mobile-nav-bar {
	display: flex;
	align-items: center;
	height: 50px;
	background: rgba(0,0,0,0.75);
	display: none;
}

@media screen and (max-width: 1024px) {
	.background-video video {
		display: none;
	}

	.background-video .mobile-header {
		display: block;
	}

	.bliz-header {
		font-size: .8em;
	}


}

@media screen and (max-width: 768px) {
	.menu-header-container .bliz-header {
		display: none;
	}

	.menu-header-container .ow-header {
		display: none;
	}

	.menu-header-container .mobile-nav-bar {
		display: flex;
		justify-content: space-between;
	}

	.featured-news .news-container {
		flex-direction: column;
	}
}