header {
	position: relative;
	width:100%;
	height: 40px;
	background-color: #0b0d12;
	z-index: 10;
}



.menu-header-container {
	max-width: 80%;
	margin: auto;
}

.bliz-header {
	display: flex;
	height: 40px;
	
	a {
		color: #B6B6B8;
		margin-right: 5px;
	}

	path {
		fill: #555;
	}

	
	.bliz-header-left {
		display: flex;
		align-items: center;
		img{
			height: 35px;
			margin-right: 20px;
		}

	}
	
	.bliz-header-right {
		display: flex;
		margin-left: auto;
	}

	.bliz-dropdown svg {
		width: 16px;
	}

}

.nav-option {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}





.ow-header {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	height: 50px;
	background: rgba(0,0,0,0.75);

	.nav-option {
		margin: 12px;
		a {
			color: #b8b5b4;
			margin-right: 5px;
		}
	}

	.ow-header-left {
		display: flex;
		align-items: center;
	}

	.ow-header-right {
		display: flex;
		align-items: center;
		svg {
			width: 20px;
			height: 20px;
			margin: 12px;
		}
	}
}


.background-video, .landing {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 0;
	min-height: 720px;
	height: 100vh;
	z-index: -90;
	min-width: 100%;
	overflow: hidden;
}





.product-header {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	.main-logo {
		img {
			height: 350px;
		}
		h1 {
			color: white;
		}
	}

	.button-container {
		margin-top: 80px;
		max-width: 250px;
	}

	.btn {
		@include align-center;
		width: 100%;
		margin-top: 20px;
		color: white;
	}

	.btn.btn-warning {
		background-color: #ff9c00;
	}

	.btn.btn-success {
		background-color: white;
		border: none;
		color: #333;
	}

	svg {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
}


.system-logos {
	display: flex;
	position: absolute;
	bottom: 20px;
	left: 0;
	height: 40px;
	width: 200px;
		div {
			flex-grow: 1;
		}
		img {
			height: 100%;
			margin-left: 30px;
		}
}


.featured-news {
	@include section-container;
	padding: 90px 0px;
		.inner-container {
			@include align-center;
			flex-direction: column;
			max-width: 1250px;
			margin: auto;
		}
		.news-container {
			display: flex;
			flex-direction:row;
			div	{
				padding: 30px;
			}
		}
		img {
			width: 100%;
		}
		.btn-success {
			padding: 6px 1em;
			color: white;
			background-color: #00a5e2
		}
}

.new-years {

}
